*{
  margin:1px;
  padding:5px;
}


h1 {
  font-style:italic ;
  font-weight:bold ;
  padding-left:11em;
  font-family: verdana;
  color:black;
  background-color:#C0C0C0;
  width: 60%;
  margin-left:20%;
  padding:10px;
  border-width:10px;  
  text-align:center;
  
}

body { 
  color:black;
  background-image: url("http://gifsanimados.de/img-gifsanimados.de/f/futbol/balon.gif");
  background-repeat:no-repeat;
  background-color:#C0C0C0;
       
}

.contenedor{
  background-color:;
  border-radius:10px;
  width: 500px;
  margin: 15px auto;
  padding:15px;
  border-width:10px;
}

.jugador{
  display: inline-block;
  width:200px;
  height:100px;
  margin:1em; 

}
.tabla{
  width:40%;
  background-color:;
   
}

.infor{
  width:40%;
  background-color:;

}

.tabla, .infor{
  display: inline-block;
  vertical-aling:top;
  clear: left;


}

