<!doctype html>
<html lang=es>
<head>
<meta charset="utf-8"/>
<link rel='stylesheet' href ='{{ STATIC_URL }}css/fondo.css'> 
<title> jugadores </title>
</head> 
<body>

<h1>JUGADORES</h1>

<div class="contenedor">
{% block content %}

         {% for jugador in object_list %}
                 <div class="jugador">
                 <img width="60" height="60" src='{{ MEDIA_URL }}{{ jugador.foto }}'></img>
                 <h4><a href='../player/{{ jugador.id }}/player.html '>{{ jugador }}</a></h4>
                 <p>{{ jugador.equipo }}</p>
</div>		
         {% endfor %}
{% endblock %}

</div>
</body>
</html>
